* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #111418;
}

.header {
  margin: 40px;
  padding-bottom: 10px;
  font-size: 0.8rem;
  border-bottom: #353a45 solid 1px;
  color: #fff;
}

.albums-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 10%;
}

.album-card {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.album-cover {
  width: 100%;
  position: relative;
}

.cover {
  width: 100%;
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 230px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.icon {
  filter: invert(100%) sepia(1%) saturate(0%) hue-rotate(204deg)
    brightness(110%) contrast(101%);
  width: 60px;
}

.play {
  transition: 0.5s ease-in-out;
}

.play:hover {
  transform: scale(1.3);
  filter: invert(100%) sepia(1%) saturate(0%) hue-rotate(204deg)
    brightness(110%) contrast(101%);
  opacity: 50%;
}

.album-name {
  font-size: 14px;
  margin-top: 7px;
  color: #fff;
}

.album-name:hover {
  text-decoration: underline;
}

.album-artist {
  margin-top: 5px;
  font-size: 10px; /* the link increase the size of the font */
  color: #80889d;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.album-artist:hover {
  text-decoration: underline;
}

a {
  color: inherit;
}

.cover {
  transition: 0.2s ease-in-out;
}

.cover:hover {
  opacity: 15%;
  /* background: linear-gradient (rgba(32, 32, 159, 0.5), rgba(72, 80, 118, 0.5)); */
}

@media all and (min-width: 768px) {
  .albums-container {
    display: flex;
    width: 100%;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .album-card {
    width: 40%;
    margin: 30px;
  }
}

@media all and (min-width: 1024px) {
  .album-card {
    width: 20%;
    margin: 15px;
  }

  .icon-container {
    width: 130px;
  }

  .icon {
    width: 50px;
  }
}
